@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;1,400;1,500;1,600;1,700&display=swap'); 


<style>
  @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;500;600;700&display=swap');
</style>

:root{
	--green:#27ae60;
	--black:#192a56;
	--light-color:#666;
	--box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}


*{
	font-family: 'Nunito', sans-serif;
	margin: 0;padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;border: none;
	text-transform: capitalize;  
	transition: all .2s linear;
}

html{
	font-size: 64%;
	overflow-x: hidden;
	scroll-padding-top: 5.5rem;
	scroll-behavior: smooth;
}

section{
	padding: 2rem 9%;
}

section:nth-child(even){
	background: #eee;
}

.sub-heading{
	text-align: center;
	color: royalblue;
	font-size: 2rem;
	padding-top: 1rem;
}

.heading{
	text-align: center;
	color: var(--black);
	font-size: 3rem;
	padding-bottom: 2rem;
	text-transform: uppercase;
}


.btn{
	margin-top: 1rem;
	display: inline-block;
	font-size: 1.7rem;
	font-weight: bolder;
	color: black;
	background: skyblue;
	border-radius: .5rem;
	cursor: pointer;
	padding: .8rem 2rem;
}

.btn:hover{
	background: lightpink;
	letter-spacing: 0.1rem;
}




header{
	position: fixed;
	top:0;left: 0;right: 0;
	background: white;
	padding: 1rem 7%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
	box-shadow: var(--box-shadow);
}

header .logo{
	/*color: var(--black);*/
	color: darkblue;
	font-size: 4rem;
	font-weight: bolder;
}

header .logo i{
	color: var(--blue);
}

header .navbar a{
	font-size: 1.7rem;
	font-weight: bold; 
	border-radius: .5rem;
	padding: .5rem 1.5rem;
	color: var(--light-color);
}


header .navbar a.active,
header .navbar a:hover{
	color: darkblue;
	background: lightblue ;
}


header .icons i,
header .icons a{
	cursor: pointer;
	margin-left: .5rem;
	height: 4.5rem;
	line-height: 4.5rem;
	width: 4.5rem;
	text-align: center;
	font-size: 1.7rem;
	color: var(--black);
	border-radius: 50%;
	background: whitesmoke;

}
header .icons i:hover,
header .icons a:hover{
	color: blue ;
	background: skyblue;
	transform: rotate(360deg);
}

header .icons #menu-bars{
	display: none;
}



#search-form{
	position: fixed;
	top: -110%; left: 0;
	height: 100%; width: 100%;
	z-index: 1004;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 1rem;
}

#search-form.active{
	top: 0;
}





#search-form #search-box{
	width: 50rem;
	border-bottom: .1rem solid #fff;
	padding: 1rem 0;
	color: #fff;
	font-size: 3rem;
	text-transform: none;
	background: none;
}

#search-form #search-box::placeholder{
	color: #eee;
}

#search-form #search-box::-webkit-search-cancel-button{
	-webkit-appearance: none;
}

#search-form label{
	color: #fff;
	cursor: pointer;
	font-size: 3rem;
}

#search-form label:hover{
	color: royalblue;
}

#search-form #close{
	position: absolute;
	color: #fff;
	cursor: pointer;
	top: 2rem; right:3rem;
	font-size: 4rem;
}

.Home .Home-slider .slide{
	display: flex;
	align-items: right;
	flex-wrap: wrap;
	gap: 2rem;
	padding-top: 11rem;
}

.Home .Home-slider .slide .content{
	flex: 1 1 45rem;
}

/* here the 45rem is changed to 40rem */

.Home .Home-slider .slide .image{
	flex: 1 1 45rem;
	
}


.Home .Home-slider .slide .image img{
	width: 100%;
}

.Home .Home-slider .slide .content span{
	color:royalblue;
	font-size: 2.5rem;
	font-weight: bold;
}

.Home .Home-slider .slide .content h3{
		color:var(--black);
		font-size: 6rem;
}
	
.Home .Home-slider .slide .content p{
	color: var(--light-color);
	font-size: 2rem;
	padding:.5rem 0;
	line-height: 1.5;
}

.swiper-pagination-bullet-active{
	background: darkblue;
}

.Dishes .box-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
	gap: 1.6rem;
}

.Dishes .box-container .box{
	padding: 2.5rem;
	background: whitesmoke;
	border-radius: .5rem;
	border: .1rem solid rgba(0, 0, 0, .2);
	box-shadow: var(--box-shadow);
	position: relative;
	overflow: hidden;
	text-align: center;
}

.Dishes .box-container .box .fa-heart,
.Dishes .box-container .box .fa-eye{
	position: absolute;
	top: 1.5rem;
	background:#eee;
	border-radius: 50%;
	height: 5rem;
	width: 5rem;
	line-height: 5rem;
	font-size: 2rem;
	color: var(--black);
}


.Dishes .box-container .box .fa-heart:hover,
.Dishes .box-container .box .fa-eye:hover{
	background: skyblue;
	color: black;
}

.Dishes .box-container .box .fa-heart{
	right: -15rem;
}

.Dishes .box-container .box .fa-eye{
	left: -15rem;
}


.Dishes .box-container .box:hover .fa-heart{
	right: 1.5rem;
}

.Dishes .box-container .box:hover .fa-eye{
	left: 1.5rem;
}

.Dishes .box-container .box img{
	height: 20rem;
	margin: 1rem 0;
}

.Dishes .box-container .box h3{
	color: var(--black);
	font-size: 2.5rem;
}

.Dishes .box-container .box .stars i{
	font-size: 1.7rem;
	color: darkblue;  
}

.Dishes .box-container .box span{
/*	color: var(--black);  */
	color: darkblue;
	font-weight: bolder;
	margin-right: 1rem;
	font-size: 2.5rem;
}

.About .row{
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	align-items: center;
}

.About .row .image{
	flex: 1 1 45rem;
}

.About .row .image img{
	width: 100%;
}

.About .row .content{
	flex: 1 1 45rem;
}

.About .row .content h3{
	color: var(--black);
	font-size: 4rem;
	padding: .5rem 0;
}


.About .row .content p{
	color: var(--light-color);
	font-size: 1.5rem;
	padding: .5rem 0;
	line-height: 2; 
}

.About .row .content .icons-container{
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	padding: 1rem 0;
	margin-top: .5rem;
}

.About .row .content .icons-container .icons{
	background: #eee;
	border-radius: .5rem;
	border: .1rem solid rgba(0, 0, 0, .2);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	flex: 1 1 17rem;
	padding: 1.5rem 1rem; 
}

.About .row .content .icons-container .icons i{
	font-size: 2.5rem;
	color: darkblue;
}

.About .row .content .icons-container .icons span{
	font-size: 1.5rem;
	color: var(--black);
}

.Menu .box-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	gap: 1.6rem;
}

.Menu .box-container .box{
	background: whitesmoke;
	border: .1rem solid rgba(0, 0, 0, .2);
	border-radius: .5rem;
	box-shadow: var(--box-shadow);
}

.Menu .box-container .box .image{
	height: 25rem;
	width: 100%;
	padding: 1.5rem;
	overflow: hidden;
	position: relative;
}

.Menu .box-container .box .image img{
	height: 100%;
	width: 100%;
	border-radius: .5rem;
	object-fit: cover;
}

.Menu .box-container .box .image .fa-heart{
	position: absolute;
	top: 2.5rem; right: 2.5rem;
	height: 5rem;
	width: 5rem;
	line-height: 5rem;
	text-align: center;
	font-size: 2rem;
	background: #fff;
	border-radius: 50%;
	color: var(--black);
}

.Menu .box-container .box .image .fa-heart:hover{
	background-color: royalblue;
	color: #fff;
}

.Menu .box-container .box .content{
	padding: 2rem;
	padding-top: 0;
}

.Menu .box-container .box .content .stars{
	padding-bottom: 1rem;
}

.Menu .box-container .box .content .stars i{
	font-size: 1.7rem;
	color: darkblue;
}

.Menu .box-container .box .content h3{
	color: var(--black);
	font-size: 2.5rem;
}

.Menu .box-container .box .content p{
	color: var(--light-color);
	font-size: 1.6rem;
	padding: .5rem 0;
	line-height: 1.5;
}

.Menu .box-container .box .content .price{
	color: darkblue;
	margin-left: 1rem;
	font-size: 2.5rem;
	font-weight: bold;
}

.Review .slide{
	padding: 2rem;
	box-shadow: var(--box-shadow);
	border: .1rem solid rgba(0, 0, 0, .2);
	border-radius: .5rem;
	position: relative;
	background: whitesmoke;
}

.Review .slide .fa-quote-right{
	position: absolute;
	top: 2rem; right: 2rem;
	font-size: 6rem;
	color: #ccc;
} 

.Review .slide .user{
	display: flex;
	gap: 1.5rem;
	align-items: center;
	padding-bottom: 1.5rem;
}

.Review .slide .user img{
	height: 7rem;
	width: 7rem;
	border-radius: 50%;
	object-fit: cover;
}

.Review .slide .user h3{
	color: var(--black);
	font-size: 2rem;
	padding-bottom: .5rem;
}

.Review .slide .user i{
	font-size: 1.3rem;
	color: darkblue;
}

.Review .slide p{
	font-size: 1.5rem;
	line-height: 1.8;
	color: var(--light-color);
}

.Order form{
	max-width: 90rem;
	border-radius: .5rem;
	box-shadow: var(--box-shadow);
	border: .1rem solid rgba(0, 0, 0, .2);
	background: #fff;
	padding: 1.5rem;
	margin: 0 auto;
}

.Order form .inputBox{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.Order form .inputBox .input{
	width: 49%;
}

.Order form .inputBox .input span{
	display: block;
	padding: .5rem 0;
	font-size: 1.5rem;
	color: var(--light-color);
}

.Order form .inputBox .input input,
.Order form .inputBox .input textarea{
	background: #eee;
	border-radius: .5rem;
	padding: 1rem;
	font-size: 1.6rem;
	color: var(--black);
	text-transform: none;
	margin-bottom: 1rem;
	width: 100%;
}

.Order form .inputBox .input input:focus,
.Order form .inputBox .input textarea:focus{
	border: .1rem solid darkblue;
}


.Order form .inputBox .input textarea{
	height: 20rem;
	resize: none;
}


.Order form .btn{
	margin-top: 0;

}


.footer .box-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	gap: 1.5rem;
}

.footer .box-container .box h3{
	padding: .5rem 0;
	font-size: 2.5rem;
	color: var(--black);
}


.footer .box-container .box a{
	display: block;
	padding: .5rem 0;
	font-size: 1.5rem;
	color: var(--light-color);
}

.footer .box-container .box a:hover{
	color: blue;
	text-decoration: underline;
}

.footer .credit{
	text-align: center;
	border-top: .1rem solid rgba(0, 0, 0, .1);
	font-size: 2rem;
	color: var(--black);
	padding: .5rem;
	padding-top: 1.5rem;
	margin-top: 1.5rem;
}

.footer .credit span{
	color: royalblue;
/*	font-weight: bold;  */
}

.loader-container{
	position: fixed;
	top: 0; left: 0;
	height: 100%;
	width: 100%;
	z-index: 10000;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.loader-container img{
	width: 35rem;
}

.loader-container.fade-out{
	top: 110%;
	opacity: 0;
}










/*   media queries   */

@media(max-width:990px){

	html{
		font-size: 55%;
	}

	header{
		padding: 1rem 2rem;
	}

	section{
		padding:2rem;
	}

}

@media(max-width:770px){
	header .icons #menu-bars{
		display: inline-block;
	}

	header .navbar{
		position: absolute;
		top:100%; left:0; right:0;
		background: white;
		border-top: .1rem solid rgba(0, 0, 0, 0.2);
		border-bottom: .1rem solid rgba(0, 0, 0, 0.2);
		padding: 1rem;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); 
	}

	header .navbar.active{
		clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}

	header .navbar a{
		display: block;
		padding: 1.5rem;
		margin: 1rem;
		font-size: 2rem;
		background: white;
	}

	#search-form #search-box{
		width: 90%;
		margin: 0 1rem;
	}

	.Home .Home-slider .slide .content h3{
		font-size: 5rem;
	}

}

	






@media (max-width:450px){

	html{
		font-size: 50%;
	}

	.Dishes .box-container .box img{
		height: auto;
		width: 100%;
	}

	.Order form .inputBox .input{
		width: 100%;
	}

}














